{% load static %}

<!doctype html>
<html lang="es-AR"> <!--puse el lenguaje en español argentino-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>

    <!--Estilos globales de CSS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/globalStyles.css' %}">


  <!--Estilos especificos de CSS-->
  {% block extra_css %} {% endblock %}
</head>
<body>
    {% include 'header.html' %}
    <main>
      {% block content %} {% endblock %}
    </main>
    {% include 'footer.html'%}

    {% block extra_js %} {% endblock %}
</body>
</html>