/*variables con los colores*/
:root{
    --colorVerde: #526522;
    --colorVerdeClaro: #A1CEBD;
    --colorVerdeOscuro:#033500;
    --colorGrisClaro: #76767b;
    --colorGrisOscuro: #343437;
    --colorBlanco: #FFFFFF;
    --colorNegro: #000000;
    --colorRojo: #E80000;
    --colorRojoOscuro: #7C0002;
    --colorCeleste:#51D1F6;
    --colorCelesteOscuro:#00AAE4;
    --colorAmarillo: #FADA28;
    --colorAmarilloOscuro: #DDB148;
}

/*diseño para el html y body*/
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

/*Diseño para body*/
body{
    display:flex;
    flex-direction: column;
    font-family:'Raleway', sans-serif;
}

/*tipografia para titulos*/
h1, h2, h3{
    font-family:'Montserrat',sans-serif ;
}

/*tipografia para inputs, textareas, selects y botones*/
input, textarea, select, button {
  font-family: 'Raleway', sans-serif;
}

/*Diseño del header*/
header{
    position: relative;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--colorVerde);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*diseño del nav*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0 30px;
}

/*diseño logo empresa*/
#imagen_nav{
    height: 50px;
    width: 50px;
}

/*diseño lista del nav*/
nav ul{
    display:flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 0.8rem;
    gap: 30px;
}

/*diseño elemento de la lista*/
li{
    display:flex;
    align-items: center;
    padding: 5px;
    height: auto;
    box-sizing: border-box;
}

/*diseño enlaces de los elementos de la lista*/
li a{
    font-weight: 500;
    font-size: 0.8rem;
    text-decoration: none;
    color:var(--colorBlanco);
    padding: 5px;
    transition: color 0.5s ease, border-bottom 0.5s ease;
    border-bottom: 1px solid transparent;
}

/*diseños enlace de los elementos de la lista hover*/
li a:hover{
    color: var(--colorVerdeClaro);
    border-bottom: 1px solid var(--colorVerdeClaro);
}

/*diseños span (logo iniciar sesion)*/
li span{
    margin:0 !important;
    padding: 0 !important;
}

/*clase para enlaces cuando este en el path que le corresponde*/
.enlace_activo{
    color: var(--colorVerdeClaro);
    border-bottom: 1px solid var(--colorVerdeClaro);
}

/*diseño para el menu hamburguesa (se ve unicamente en pantallas chicas)*/
#menu_hamburguesa {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--colorBlanco);
    cursor: pointer;
}

/*Diseño Main, esto es para que el footer siempre este debajo*/
main {
  flex: 1;
}

/*Diseño footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 10px 50px;
    box-sizing: border-box;
    background-color: var(--colorVerde);
}

/*diseño div del footer*/
footer div{
    height: 10vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

/*diseño lista del footer*/
footer ul{
    display:flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1rem;
    gap: 60px;
    color:var(--colorBlanco);
    font-weight: 500;
}

/*Medias Queries*/
@media (max-width: 1024px){
    /*Diseño footer*/
    footer div{
        height: 60px;
    }

    /*diseño lista footer*/
    footer ul{
        font-size: 0.8rem;
    }
}

@media (max-width: 768px){
    /*diseño menu hamburguesa*/
    #menu_hamburguesa {
        font-size: 1.8rem;
        display:block; /*Muestra el menu hamburguesa*/
        transition: transform 0.3s ease, color 0.1s ease;
    }

    /* Animacion del menu hamburguesa al abrir*/
    #menu_hamburguesa.rotacion {
        transform: rotate(90deg);
        color: var(--colorVerdeClaro);
    }

    /*diseño para la lista del nav (para que funcione como desplegable del menu hamburguesa)*/
    nav ul {
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        background-color: var(--colorVerde);
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 0 15px;
        gap: 0;
        box-sizing: border-box;
        border-radius: 0 0 10px 10px;
        transition: max-height 0.4s ease;
    }

    /* Diseño para el menu abierto */
    nav ul.activo {
        max-height: 50vh;
    }

    /*diseño para el elemento de la lista del nav*/
    nav li{
        width:100%;
        border-top: 2px solid var(--colorBlanco);
        padding: 15px;
        margin: 0;
    }

    /*diseño para enlace activo*/
    .enlace_activo{
        color: var(--colorVerdeClaro);
        border-bottom: none;
    }

    /*Diseño footer*/
    footer div{
        height: 40px;
    }

    /*diseño lista del footer*/
    footer ul{
        gap:10px;
        font-size: 0.6rem;
    }
}

@media (max-width: 480px){
    /*diseño imagen empresa en el nav*/
    #contenedor_logo img{
        height: 45px;
        width: 45px;
    }

    /*Diseño footer*/
    footer{
        max-height: 40vh;
        padding: 20px 30px;
    }

    /*diseño div del footer*/
    footer div{
        height: auto;
    }

    /*diseño lista del footer*/
    footer ul{
        flex-direction:column;
        font-size: 0.6rem;
        gap: 10px;
    }
}