{% extends 'base.html' %}
{% load static %}
{% block title %}Contacto | Finanzas Raiz{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'simulador/css/stylesFormContacto.css' %}">
{% endblock %}
{% block content %}
    <section id="section_contenedor_formulario">
        <h3>Contacta con nosotros, llenando el siguiente formulario</h3>
        <form method="POST" id="form_contacto" novalidate>
            {% csrf_token %}
            {% for input in form %}
                {% if input.name == 'mensaje' %}
                    <div class="contenedor_textarea">
                        {{ input }}
                        <span class="error_texto" id="error-{{ input.id_for_label }}"></span>
                    </div>
                {% else %}
                    <div class="contenedor_input">
                        {{ input }}
                        <span class="error_texto" id="error-{{ input.id_for_label }}"></span>
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit" id="boton_enviar_form">Enviar</button>
        </form>
    </section>
{% endblock %}
{% block extra_js %}
    <script type="module" src="{% static 'simulador/js/formContacto.js' %}"></script>
{% endblock %}