{% extends 'base.html' %}
{% load static %}
{% block title %} Inicio de Sesion | Finanzas Raiz {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'simulador/css/stylesFormsLogin.css' %}">
{% endblock %}
{% block content %}
    <section class="contenedor_login">
        <div class="contenedor_form_login">
            <h2>Iniciar Sesión</h2>
            <!--Formulario para login-->
            <form method="POST" class="form_login">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="errorlist">
                        <ul>
                          {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                 {% for field in form %}
                    <div class = "contenedor_field">
                      {{ field.label_tag }}
                      {{ field.errors }}
                      {{ field }}
                      {% if field.help_text %}
                        <span>{{ field.help_text }}</span>
                      {% endif %}
                    </div>
                {% endfor %}
                <button type="submit">Ingresar</button>
            </form>
        </div>
    </section>
{% endblock %}
{% block extra_js %}{% endblock %}