/*diseño para el section de volver*/
#section_contenedor_volver{
    display:flex;
    justify-content: center;
    height:auto;
    width:auto;
    box-sizing:border-box;
}

/*diseño para el contenedor de volver*/
#contenedor_volver{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: auto;
    width: 100%;
    padding:10px 20px;
    box-sizing:border-box;
    gap: 10px;
    background-color: #B3B3B3;
}

/*Diseño para el <a> (enlace) volver para simular un boton*/
#enlace_volver{
    width:auto;
    padding: 5px 15px;
    border-radius: 5px;
    box-sizing:border-box;
    color:var(--colorBlanco);
    text-decoration:none;
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--colorGrisOscuro);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/*diseño para el <a> (enlace) volver hover*/
#enlace_volver:hover{
    background-color: var(--colorGrisClaro);
    color:var(--colorNegro);
}

/*diseño para el section del contenedor modificar solicitud*/
.section_contenedor_modificar_solicitud{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 50px;
    box-sizing: border-box;
}

/*diseño para el contenedor modificar solicitud*/
.contenedor_modificar_solicitud{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--colorVerdeClaro);
    box-shadow: 0 0 10px 1px var(--colorGrisOscuro);
}

/*diseño para el titulo del contenedor modificar solicitud*/
.contenedor_modificar_solicitud h2{
    margin:0;
    text-align: center;
    font-weight: 600;
}

/*diseño para el formulario de modificar solicitud*/
#form_modificar_solicitud {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto;
    gap: 15px;
}

/*diseño para los campos del formulario*/
#form_modificar_solicitud input,
#form_modificar_solicitud select {
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border: 2px solid var(--colorGrisClaro);
    box-sizing: border-box;
    font-size: 0.9rem;
}

/*diseño para los campos del formulario cuando tengan foco*/
#form_modificar_solicitud input:focus,
#form_modificar_solicitud select:focus{
    border: 2px solid var(--colorNegro);
    outline: none !important;
    box-shadow: none !important;
}

/*diseño para con campos del formulario que no son editables*/
.contenedor_deshabilitado input,
.contenedor_deshabilitado select{
    pointer-events: none;
    opacity: 0.6;
    background-color: #C0C0C0;
}

/*diseño para el boton modificar solicitud*/
#form_modificar_solicitud button{
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--colorVerdeOscuro);
    box-sizing:border-box;
    background-color:var(--colorBlanco);
    color:var(--colorVerdeOscuro);
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor:pointer;
}

/*diseño para el boton modificar solicitud hover*/
#form_modificar_solicitud button:hover{
    background-color: var(--colorVerdeOscuro);
    color: var(--colorBlanco);
}

/*estilos para eliminar las flechas de los input de numeros en navegadores*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*diseño para los span debajo de los input (errores)*/
.error_texto{
    color: var(--colorRojo);
    text-align: start;
    font-size: 0.7rem;
    font-weight: 600;
}

/*Estilo para errores en los input*/
.input_error{
    border: 2px solid #FF0000 !important;
}

/*Media queries*/
@media (max-width: 1024px){
    /*Diseño para el <a> (enlace) volver para simular un boton*/
    #enlace_volver{
        font-size: 1rem;
    }

    /*diseño para los campos del formulario*/
    #form_modificar_solicitud input,
    #form_modificar_solicitud select {
        font-size: 0.9rem;
    }

    /*diseño para el boton modificar solicitud*/
    #form_modificar_solicitud button{
        font-size: 1rem;
    }
}

@media (max-width: 768px){
    /*Diseño para el <a> (enlace) volver para simular un boton*/
    #enlace_volver{
        font-size: 0.8rem;
    }

    /*diseño para el titulo del contenedor modificar solicitud*/
    .contenedor_form_modificar_solicitud h2{
        font-size: 1.2rem;
    }

    /*diseño para los campos del formulario*/
    #form_modificar_solicitud input,
    #form_modificar_solicitud select {
        font-size: 0.8rem;
    }

    /*diseño para el boton modificar solicitud*/
    #form_modificar_solicitud button{
        font-size: 0.8rem;
    }
}

@media (max-width: 480px){
    /*Diseño para el <a> (enlace) volver para simular un boton*/
    #enlace_volver{
        font-size: 0.7rem;
    }

    /*diseño para el section del contenedor modificar solicitud*/
    .section_contenedor_modificar_solicitud{
        padding: 50px 20px;
    }

    /*diseño para el titulo del contenedor modificar solicitud*/
    .contenedor_form_modificar_solicitud h2{
        font-size: 1rem;
    }

    /*diseño para los campos del formulario*/
    #form_modificar_solicitud input,
    #form_modificar_solicitud select {
        font-size: 0.7rem;
    }

    /*diseño para el boton modificar solicitud*/
    #form_modificar_solicitud button{
        font-size: 0.7rem;
    }
}
