{% load static %}
<!doctype html>
<html lang="es-AR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'img/logo.webp' %}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/globalStyles.css' %}">
  {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'header.html' %}
    <main>
      {% block content %} {% endblock %}
    </main>
    {% include 'footer.html'%}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/header.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>